<div id="<%= dom_id seller %>">
  <p>
    <strong>Name:</strong>
    <%= seller.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= seller.email %>
  </p>

  <p>
    <strong>Phone no:</strong>
    <%= seller.phone_no %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= seller.address %>
  </p>

</div>
