<div id="<%= dom_id author %>">
  <p>
    <strong>Seller:</strong>
    <%= author.user.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= author.email %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= author.average_rating%>
  </p>


</div>
