<p style="color: green"><%= notice %></p>
<%= render @author %>
<p>
  <strong>Total Revenue:</strong>
  <%= number_to_currency(@total_revenue,unit:"Rs ") %>
</p>
<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>
  <%= button_to "Destroy this author", @author, method: :delete %>
</div>
