<%= render 'layouts/navbar' %>

<% if user_signed_in? && current_user.seller? %>
  <div class="graph">
    <h2 style="margin-left: 20px; font-weight: bold;">Total bookings of books by author </h2>
    <select id="timeframe-select" style="margin-right: 20px; height: 30px; width:180px; font-size:larger"  onchange="selectTimePeriod(this)">
      <option value="week">For Current Week</option>
      <option value="month">For Current Month</option>
      <option value="year">For Current Year</option>
    </select>
  </div>
  <div id="chart-week" class="chart" style="margin-left: 50px; margin-right: 50px">
    <% 
    data_week = Author.where(user_id: current_user.id).select { |author| author.total_bookings_current_week > 0 }.map do |author|
      ["#{author[:name]}", author.total_bookings_current_week]
    end %>
    <%= bar_chart data_week, colors: ["#b00", "#666"], height: '500px' , xtitle: "Orders of Current Week" , ytitle: "Author Name" %>
  </div>
  <div id="chart-month" class="chart" style="display:none; margin-left: 50px; margin-right: 50px; ">
    <% 
    data_month = Author.where(user_id: current_user.id).select { |author| author.total_bookings_current_month > 0 }.map do |author|
      ["#{author[:name]}", author.total_bookings_current_month]
    end %>
    <%= bar_chart data_month, colors: ["#b00", "#666"], height: '500px' , xtitle: "Orders of Current Month" , ytitle: "Author Name" %>
  </div>
  <div id="chart-year" class="chart" style="display:none; margin-left: 50px; margin-right: 50px;">
    <% 
    data_year = Author.where(user_id: current_user.id).select { |author| author.total_bookings_current_year > 0 }.map do |author|
      ["#{author[:name]}", author.total_bookings_current_year]
    end %>
    <%= bar_chart data_year, colors: ["#b00", "#666"], height: '500px' , xtitle: "Orders of Current Year" , ytitle: "Author Name"%>
  </div>
  <div class="graph">
    <h2 style="margin-left: 20px; font-weight: bold;">Total Order:</h2>
    <select id="generalTime-select" style="margin-right: 20px; height: 30px; width:110px; font-size:larger"  onchange="generalTime(this)">
      <option value="week-order">By Week</option>
      <option value="month-order">By Month</option>
    </select>
  </div>
  <div id="chart-week-order" style="margin-left: 50px; margin-right: 50px">
    <%= line_chart @bookings_by_week, xtitle: "Week", ytitle: "Order Count" %>
  </div>
  <div id="chart-month-order" style="margin-left: 50px; margin-right: 50px; display: none;">
    <%= line_chart @bookings_by_month, xtitle: "Month", ytitle: "Order Count" %>
  </div>
  <div class="graph">
    <h2 style="margin-left: 20px; font-weight: bold;">Most Popular books based:</h2>
    <select id="popular-select" style="margin-right: 20px; height: 30px; width:120px; font-size:larger"  onchange="popular(this)">
      <option value="order">On Orders</option>
      <option value="rating">On Ratings</option>
    </select>
  </div>
  <div id="pie-chart-order" style="margin-bottom: 20px;">
    <%= pie_chart @popular_book , title: "Books Popularity based on Orders" %>
  </div>
  <div id="pie-chart-rating" style="display: none; margin-bottom: 20px;">
    <%= pie_chart @popular_rating , title: "Books Popularity based on Ratings"%>
  </div>
<% elsif user_signed_in? && !current_user.seller? %>
  <br>
  <%= search_form_for @q, url: root_path, method: :get do |f| %>
    <div class="search-div">
      <%= f.label :book_name_cont, "Search for books:", style: "margin-right: 10px;" %>
      <%= f.search_field :book_name_cont, class: "input-field", placeholder: "Search Book Name" %>
    </div>
    <div class="search-div">
      <%= f.label :author_name_cont, "Filter by Author:", style: "margin-right: 10px;" %>
      <%= f.select :author_name_cont, Author.all.map { |author| [author.name] }, include_blank: 'Select Author', class: "input-field" %>
    </div>
    <div class="search-div">
      <%= f.label :user_name_eq, "Filter by Seller:", style: "margin-right: 10px;" %>
      <%= f.select :user_name_eq, User.where(seller: 1).map { |user| [user.name] }, include_blank: 'Select Seller', class: "input-field" %>
    </div>
    <div class="search-div">
      <%= f.label :price_gteq, "Min Price:", style: "margin-right: 10px;" %>
      <%= f.number_field :price_gteq, class: "input-field" , style: "width: 120px;" , placeholder: "Min Price", min: 0 %>
    </div>
    <div class="search-div">
      <%= f.label :price_lteq, "Max Price:", style: "margin-right: 10px;" %>
      <%= f.number_field :price_lteq, class: "input-field" , style: "width: 120px;", placeholder: "Max Price", min: 0 %>
    </div>
    <%= f.submit "Search", style: "padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px;" %>
    <%= link_to "Clear Search", request.path, class: "cancel-button", style: "padding: 10px 20px; background-color: #b00; color: white; border: none; border-radius: 5px; text-decoration: none; margin-left: 10px;" %>
  <% end %>
  <% if @books.empty? %>
    <p class="no-result">No Book found.</p>
  <% end %>
  <div class="book">
    <% @books.all.each do |book| %>
      <%= render 'layouts/book', book: book %>
    <% end %>
  </div>
<% else %>
  <div class="book">
    <% @books.all.each do |book| %>
      <%= render 'layouts/book', book: book %>
    <% end %>
  </div>
<% end %>
<script>
  function changes(bookId) {
    var cart = document.getElementById("add-cart-" + bookId);
    cart.classList.add("glow");
  }
</script>
