<% if user_signed_in? && current_user.seller?%>
  <h1>Welcome Seller, <%= current_user.name   %></h1>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% Author.where(seller_id: current_user.id).each do |author| %>
    <h2><%= author[:name] %></h2>
    <div id="chart-<%= author[:name].parameterize %>" style="height: 300px;">
      <%= bar_chart [
        ["Current Week", author.total_bookings_current_week],
        ["Current Month", author.total_bookings_current_month],
        ["Current Year", author.total_bookings_current_year]
      ], colors: ["#b00", "#666"] %>
    </div>
  <% end %>
  <h2>Total Bookings by Week</h2>
  <div id="chart-week" style="height: 300px;">
    <%= line_chart @bookings_by_week, xtitle: "Week", ytitle: "Bookings" %>
  </div>
  <h2>Total Bookings by Month</h2>
  <div id="chart-month" style="height: 300px;">
    <%= line_chart @bookings_by_month, xtitle: "Month", ytitle: "Bookings" %>
  </div>
  <h2>Popular Order</h2>
  <div id="pie-chart-oreder" style="height: 300px;">
    <%= pie_chart @popular_book %>
  </div>
  <%= link_to 'Add Author', authors_path , method: :get%>
  <br>
  <%= link_to 'Add Book' , books_path , method: :get%>
  <br>
  <%= link_to 'Ordered Book' , orders_path , method: :get%>
<% elsif user_signed_in? && !current_user.seller %>
  <h1>Welcome Home, <%= current_user.name %></h1>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
  <br>
  <%= button_to "Order Histroy" , orders_path , method: :get %>
  <br>
  <%= button_to "Cart" ,cart_path , method: :get %>
  <br>
  <%= search_form_for @q, url: root_path, method: :get do |f| %>
    <div>
      <%= f.label :book_name_cont, "Search for books:" %>
      <%= f.search_field :book_name_cont %>
    </div>
    <br>
    <div>
      <%= f.label :author_name_cont, "Filter by Author:" %>
      <%= f.select :author_name_cont , Author.all.map {|author| [author.name]}, include_blank: 'Select Author' %>
    </div>
    <br>
    <div>
      <%= f.label :seller_name_cont, "Filter by Seller:" %>
      <%= f.select :seller_name_cont , Seller.all.map {|seller| [seller.name]}, include_blank: 'Select Seller' %>
    </div>
    <br>
    <%= f.submit "Search" %>
    <%= link_to "Clear Search", request.path, class:"cancel-button" %>
  <% end %>
  <br>
  <br>
  <% @books.all.each do |book| %>
    <% if book.quantity > 0 %>
      <% if book.image.attached? %>
        <img src="<%= url_for(book.image) %>" alt="<%= book.book_name %> cover" style="width:150px;height:auto;">
      <% end %>
      <h2><strong><%= book.book_name %></strong></h2>
      <p><%= book.author.name %></p>
      <span><%= link_to "Author Feedback" , author_path(book.author) , method: :get %></span>
      <p><%= book.seller.name %></p>
      <p>Price: ₹<%= book.price%>
        <%= button_to "Add Cart" , add_to_cart_path(book_id: book.id), method: :post , id: "add-cart"%>
        <br>
        <%= button_to "Show Details",  book , method: :get %>
        <br>
      <% end %>
    <% end %>
  <% else %>
    <h1>Home</h1>
    <%= button_to 'Sign in', new_user_session_path %>
  <% end %>