<p style="color: green"><%= notice %></p>

<%= render @feedback_book %>

<div>
  <%= link_to "Edit this feedback book", edit_feedback_book_path(@feedback_book) %> |
  <%= link_to "Back to feedback books", feedback_books_path %>

  <%= button_to "Destroy this feedback book", @feedback_book, method: :delete %>
</div>
