<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% user_value = current_user.id %>
    <%= form.hidden_field :user_id , value:user_value%>
  </div>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.collection_select :book_id , Book.where(user_id: current_user.id) , :id , :book_name %>
  </div>

  <div>
    <%= form.label :seller, style: "display: block" %>
    <%= form.select :seller , User.where(seller: 1).collect { |x| [x.name , x.id] } %>
  </div>

  <div>
    <%= form.label :quantity_of_book_order, style: "display: block" %>
    <%= form.number_field :quantity_of_book_order %>
  </div>

  <div>
    <% if current_user.seller? %>
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, options_for_select([['Order Placed', 'Order_Placed'], ["Shipped","Shipped"],["Delivered","Delivered"]]) %>
    <% else %>
    <%= form.hidden_field :status , value:"Order_Placed" %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
