<p style="color: green"><%= notice %></p>
<h1>Orders</h1>
<div id="orders">
  <ol>
    <% @orders.each do |order| %>
      <li>
        <%= render order %>
        <% if order.status != 'Delivered' && order.status != 'Canceled' && !current_user&.seller? %>
          <%= button_to "Cancel", cancel_order_path(order), method: :patch, data: { turbo_confirm: 'Are you sure you want to cancel this order?' } %>
        <% end %>
        <p>
          <%= link_to "Show this order", order if current_user.seller? %>
        </p>
      </li>
    <% end %>
  </ol>
</div>
<%# <%= link_to "New order", new_order_path if !current_user.seller?%>
<br>
<%= link_to "Dashboard", root_path%>
