<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>


  <p>
    <strong>Book Image:</strong>
    <%= book.book_image%>
  </p>
  

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= book.seller.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  </p>

</div>
