<div id="<%= dom_id book %>">
  <p>
    <%= image_tag(url_for(book.image.variant(:display))) if book.image.attached? %>
  </p>

  <p>
    <strong>Book name:</strong>
    <%= book.book_name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= book.seller.name %>
  </p>

  <p>
    <strong>Price: </strong>
    Rs <%= book.price %>
  </p>


  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>


  <p>
  <% if current_user.seller?%>
    <strong>Quantity:</strong>
    <%= book.quantity %>
  <% end %>
  </p>

</div>
