<p style="color: green"><%= notice %></p>
<h1>Books</h1>
<div id="books">
  <% @books.each do |book| %>
    <% if !current_user.seller? && book.quantity >= 1%>
      <%= render book  %>
      <p>
        <%= link_to "Show this book", book %>
      </p>
    <% elsif current_user.seller?%>
      <%= render book%>
      <p>
        <%= link_to "Show this book", book %>
      </p>
    <% end %>
  <% end %>
</div>
<%= link_to "New book", new_book_path %>
<br>
<%= link_to "Dashboard" , root_path%>
