<p style="color: green"><%= notice %></p>

<%= render @feedback_author %>

<div>
  <%= link_to "Edit this feedback author", edit_feedback_author_path(@feedback_author) %> |
  <%= link_to "Back to feedback authors", feedback_authors_path %>

  <%= button_to "Destroy this feedback author", @feedback_author, method: :delete %>
</div>
