<h1>Order Confirmation</h1>

<p>Thank you for your order. Here are the details:</p>

<ul>
  <% @cart_items.each do |item| %>
    <li>
      Book Title: <%= item.book.book_name %><br>
      Quantity: <%= item.quantity %><br>
      Price per Item: <%= number_to_currency(item.book.price) %><br>
      Subtotal: <%= number_to_currency(item.book.price * item.quantity) %><br>
    </li>
  <% end %>
</ul>

<p>Total Cart Value: <%= number_to_currency(@total_value) %></p>

<p>If you have any questions, please contact us.</p>
