<div id="<%= dom_id feedback %>">
  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= feedback.author_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= feedback.book_id %>
  </p>

  <p>
    <strong>Feedback:</strong>
    <%= feedback.feedback %>
  </p>

</div>
