<div id="<%= dom_id feedback %>">
  <p>
    <strong>Comment:</strong>
    <%= feedback.comment %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

  <p>
    <strong>Commentable:</strong>
    <%= feedback.commentable_id %>
  </p>


  <p>
    <strong>Commentable:</strong>
    <%= feedback.commentable_type %>
  </p>

</div>
