<div>
  <h1>Order Cancellation Confirmation</h1>
</div>
<div>
  <p>Dear <%= @user.name %>,</p>
  <p>We are writing to confirm that your order with the order number <strong><%= @order.id %></strong>, placed on <strong><%= @order.created_at.strftime('%B %d, %Y') %></strong>, has been successfully cancelled as per your request.</p>
  <p>Here are the details of your cancelled order:</p>
  <ul>
    <li>Order Date: <strong><%= @order.created_at.strftime('%B %d, %Y') %></strong></li>
    <% total_amount =  @order.quantity_of_book_order * @order.book.price%>
    <li>Total Amount: <strong><%= number_to_currency(total_amount , unit: "₹ ") %></strong></li>
  </ul>
  <p>If you have any questions or need further assistance, please feel free to contact our customer service team.</p>
  <p>Thank you for shopping with us. We hope to serve you again in the future.</p>
</div>
