<!DOCTYPE html>
<html>
  <head>
    <title>Book Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-refresh-scroll" content="preserve">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <style>
      .notice {
        background-color: #b9f6ca;
        color: #004d40;
      }
      .alert {
        background-color: #ff8a80;
        color: #b71c1c;
      }
    </style>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% flash.each do |type, message| %>
      <aside>
        <% if type == "alert" %>
          <div style="background-color:red; color:white;"><%= message %></div>
        <% end %>
        <% if type == "notice" %>
          <div style="background-color:green; color:white;"><%= message %></div>
        <% end %>
      </aside>
    <% end %>
    <%= yield %>
  </body>
</html>
